{% extends "base.html" %}
{ % block title %} Add task { % endblock % }
{ % with messages = get_flashed_messages() %}
( % if messages% )
( % for msg in messages% )
<p>{{msg}}</p>
{ %endfor% }
{ % endif % }
{ % endwith % }
{% block content %}
<br>
<div class="body">
    <div class="box" style="background-color: rgb(255, 239, 220);">
        <h1 style="color: rgb(0, 0, 0);font-family: Georgia, 'Times New Roman', Times, serif;">What is the task today?</h1>
        <form action="{{url_for('todo.add')}}" method="post">
            <fieldset">
                <legend style="background-color: rgb(249, 200, 140);">Get set Go</legend>
                <label for="task" class="form-label">Add Task</label>
                <input type="text" name="task" placeholder="task to be done" class="form-control">
                <label for="date" class="form-label">Submission date</label>
                <input type="date" class="form-control" name="date">
                <br><br>

                <button type="submit" class="btn btn-primary">Create task</button>
                </fieldset>
        </form>
    </div>


</div>

{% endblock %}