{% extends "base.html" %}
{% block content %}
<br><br>
<div class="show">
    <h3>Your tasks are</h3>
    <table class="table table-hover">
        <thead>
            <th>
                Task
            </th>
            <th>
                To be done by
            </th>
            <th>
                Due date
            </th>
            <th>
                Remove?
            </th>
        </thead>
        {% for data in t %}

        {% if data.expired == True: %}
        <tbody class="table-danger">
            <td>{{data.task}}</td>
            <td>{{data.date}}
                <form action="{{url_for('todo.changeDate', id = data.id)}}" method="post">
                    <input class="form-control" type="date" id="ipdate{{data.id}}" name="ndate" style="display: none;">
                    <button type="button" class="btn" onclick="editDate('{{data.id}}')"><i class="fa fa-trash"></i></button>
                    <button class="btn btn-primary" type="submit" style="display: none;" id="save{{data.id}}">Save</button>
                </form>
            </td>
            <td>Passed due date</td>
            <td>
                <a style="color: rgb(227, 125, 125);" href="{{url_for('todo.delete', id=data.id)}}"
                >Delete Task</a>
            </td>
        </tbody>

        {% else %}
        <tbody class="table-light">
            <td>{{data.task}}</td>
            <td>{{data.date}}
                <form action="{{url_for('todo.changeDate', id = data.id)}}" method="post">
                    <input class="form-control" type="date" id="ipdate{{data.id}}" name="ndate" style="display: none;">
                    <button type="button" class="btn" onclick="editDate('{{data.id}}')"><i class="fa fa-trash"></i></button>
                    <button class="btn btn-primary" type="submit" style="display: none;" id="save{{data.id}}">Save</button>
                </form>
            </td>
            <td>Not passed due date yet</td>
            <td>
                <a style="color: rgb(227, 125, 125);" href="{{url_for('todo.delete', id=data.id)}}"
                >Delete Task</a>
            </td>
        </tbody>

        {% endif %}
        {% endfor %}
    </table>
</div>
<script>
    function editDate(id) {
        document.getElementById('ipdate'+id).style.display = "inline"
        document.getElementById('save'+id).style.display = "inline"
    }
</script>
{% endblock %}